body {
  background-image: url("../img/pattern.png");
}

section {
  background-color: white;
  width: 80%;
  align-items: center;
  margin: 0 auto;
}

footer {
  background-color: black;
  text-align: center;
  padding: 1px;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

a li {
  display: block;
  color: blue;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  float:right;
}

a li:hover {
  background-color: lightcyan;
}

.item {
  padding: 10px 0;
}